.root {
  display: grid;
  justify-content: center;

  max-width: 500px;
  width: 50vw;
  min-width: 400px;
  height: 400px;

  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 10px;
  padding: 35px;
  background-color: #fff;

  @media screen and (max-width: 500px) {
    width: 100%;

    .form {
      width: 100%;
      min-width: unset !important;
    }
  }
}

.form {
  max-width: 400px;
  width: 40vw;
  min-width: 300px !important;
  display: grid !important;
}

.formInput {
  position: relative;
  width: 100%;
}

.formInputGroup {
  display: flex;
  gap: 20px;
}

.inputFieldWrapper {
  position: relative;
}

.errorText {
  position: absolute;
  top: -25px;
  left: 0;
  color: indianred;
  font-size: 14px;
}